/****************************************
 GENERAL
****************************************/

body {
  font-family: 'Roboto Condensed', sans-serif, 微軟正黑體;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0 0 1em 0;
}



/****************************************
 HEADER
****************************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#title {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif, 微軟正黑體;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif, 微軟正黑體;
  font-size: 1em;
  font-weight: lighter;
}



/****************************************
 NAVIGATION
****************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: normal;
  padding: 15px 10px;
}




/****************************************
 SECTION
****************************************/

#article {
  margin: 0;
  padding: 0;
  list-style: none;
}

#article li {
  float: left;
  width: 95%;
  margin: 2.5% 2.5% 3% 2.5%;
  border-radius: 12px;
}

#article li h3 {
  text-align: center;
  font-size: 1.2em;
}

#article li p {
  text-align: center;
  font-size: 0.9em;
}

#article li a p:hover {
  font-weight: bolder;
}



/****************************************
 FOOTER
****************************************/

footer {
  font-size: 1em;
  text-align: center;
  padding-top: 50px;
  clear: both;
}

.socialmedia {
  width: 30px;
  height: 30px;
  margin: 0 0 -10px 0;
  border-radius: 100%;
}



/****************************************
 PAGE: ABOUT
****************************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

h2 {
  font-size: 1.3em;
}



/****************************************
 COLOR
****************************************/

body {
  background-color: #fff;
  color: #777;
}

header {
  background: #a685ec;
  border-color: #9a78e2;
}

a {
  color: #fff;
}

nav {
  background: #a180e8;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #666;
}

#article li {
  background-color: #eeeeee;
  color: #777777;
}

#article li h3 {
  color: #a685ec;
}

#article li p {
  color:#777777;
}

#article li a p:hover {
  color: #a685ec;
}
