/****************************************
 GENERAL
****************************************/

body {
  font-family: 'Roboto Condensed', sans-serif, 微軟正黑體;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}



/****************************************
 HEADER
****************************************/

header {
  float: left;
  width: 100%;
}

#title {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif, 微軟正黑體;
  margin: 15px 0
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif, 微軟正黑體;
  font-size: 0.9em;
}
/****************************************
 NAVIGATION
****************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 35px 0 0 0;

}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: normal;
  font-size: 1.2em;
  padding: 0.75em;
}




/****************************************
 SECTION
****************************************/

#article {
  margin: 0;
  padding: 0;
  list-style: none;
}

#article li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #eeeeee;
  color: #777777;
}

#article li h3, p {
  text-align: center;
  font-size: 1em;
}







/****************************************
 FOOTER
****************************************/

footer {
  font-size: 1em;
  text-align: center;
  padding-top: 50px;
  clear: both;
}

.socialmedia {
  width: 30px;
  height: 30px;
  margin: 0 0 -10px 0;
}



/****************************************
 COLOR
****************************************/

body {
  background-color: #fff;
  color: #777;
}

header {
  background: #a685ec;
  border-color: #9a78e2;
}

a {
  color: #fff;
}

nav {
  background: #a180e8;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #666;
}
