@media screen and (min-width: 480px) {


  /****************************************
  3 * (2.5% + 2.5%) = 15%
  100% - 15% = 85%
  85% / 3 = 28.33333%
  ****************************************/

  /****************************************
  PAGE: PORTFOLIO
  ****************************************/

  #article li {
    width: 28.33333%;
  }



  /****************************************
  PAGE: ABOUT
  ****************************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
}

@media screen and (min-width: 660px) {

  /****************************************
  HEADER
  ****************************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #title {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  section p {
    font-size: 1.055em;
  }

  header {
    margin-bottom: 30px;
    border-bottom: 5px solid rgb(125, 107, 217);
  }
}
