@media screen and (min-width: 480px) {

  /****************************************
  TWO COLUMN LAYOUT
  ****************************************/

  #primary {
    width: 50%;
    float: left;
  }
  #secondary {
    width: 40%;
    float: right;
  }

  /****************************************
  3 * (2.5% + 2.5%) = 15%
  100% - 15% = 85%
  85% / 3 = 28.33333%
  ****************************************/

  /****************************************
  PAGE: PORTFOLIO
  ****************************************/

  #gallery li {
    width: 28.33333%;
    
  }

}

@media screen and (min-width: 660px) {

}
